/*
*
* Globals
*
*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:root {
  --block-text: roc-grotesk, sans-serif;
  /* --block-text: Times, serif; */
  --thick-weight: 400;
  --normal-weight: 400;
  --thin-weight: 200;
}

.headline--letter-spacing {
  letter-spacing: -0.6vw;
}
canvas {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
}

.link img {
  display: none;
}

body {
  margin: 0;
  /* min-height: 100vh;
  min-width: 100vw; */
  font-family: var(--block-text);
  font-weight: var(--normal-weight);
  font-style: normal;
  color: #fff;
  font-size: 0.85rem;
  line-height: 0.85rem;
  text-transform: uppercase;
  overflow-x: hidden;
}

.body {
  /* overflow: hidden;
  height: 100%; */
  background-color: #000000;
}

h1, h2, h3, h4, h5 {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

html,
html *,
body,
body *,
.container * {
  cursor: none;
}

main::before {
  z-index: -1;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 999999;
}

.cursor-dot {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid #fff;
  mix-blend-mode: exclusion;
}

.cursor-dot-outline {
  display: none;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}


/*
*
* Preloader
*
*/
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}
.wrap {
  position: relative;
}


.loading svg#logo {
  fill: rgba(255, 255, 255, 0.0);
  stroke-width: 1px;
  min-width: 40vw;
  min-height: 40vh;
  width: 400px;
  max-width: 80vh;
  max-height: 80vh;
  margin: 10px auto;
  -webkit-transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, -webkit-transform 1s;
  transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, -webkit-transform 1s;
  -o-transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, transform 1s;
  transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, transform 1s;
  transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, transform 1s, -webkit-transform 1s;
  -webkit-animation: stroker 2s forwards;
          animation: stroker 2s forwards;
}


/* Progress Bar */
.progress-bar {
  width: 80%;
  max-width: 600px;
  border-radius: 50%;
  margin: 20px auto;
}
.progress {
  display: block;
  height: 12px;
  background: #fff;
  width: 1%;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation: grower 4.7s;
          animation: grower 4.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.success-msg {
  text-align: center;
}
.loading-msg {
  position: relative;
  text-align: center;
}
.loading-msg::after {
  animation: loading 1s infinite;
  content: '';
  position: absolute;
  
}
@-webkit-keyframes grower {
  0% { width: 1%; }
  20% { width: 60%; }
  80% { width: 80%; }
  100% { width: 100%; }
}
@keyframes grower {
  0% { width: 1%; }
  20% { width: 60%;  }
  80% { width: 80%;  }
  100% { width: 100%;  }
}
@keyframes loading {
  0% { content: '.' }
  25% { content: '..' }
  50% { content: '...' }
  75% { content: '....'  }
  100% { content: ''  }
}


/*
*
* Typography
*
*/
.italic {
  text-transform: none;
  color: #333;
  font-style: italic;
}



@-webkit-keyframes flipper {
  0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
}


@keyframes flipper {
  0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
}
.flashing {
  -webkit-animation: flasher 0.4s infinite;
          animation: flasher 0.4s infinite;
}

@-webkit-keyframes flasher {
  0% { opacity: 0.9; }
  40% { opacity: 0.8; }
  50% { opacity: 0.9; }
  80% { opacity: 0.7; }
  100% { opacity: 1; }
}

@keyframes flasher {
  0% { opacity: 0.9; }
  40% { opacity: 0.8; }
  50% { opacity: 0.9; }
  80% { opacity: 0.7; }
  100% { opacity: 1; }
}
.flasherDim {
  -webkit-animation: flasherDim 0.3s infinite;
          animation: flasherDim 0.3s infinite;
}
@-webkit-keyframes flasherDim {
  0% { opacity: 0.8; }
  40% { opacity: 0.9; }
  50% { opacity: 0.8; }
  80% { opacity: 0.95; }
  100% { opacity: 1; }
}
@keyframes flasherDim {
  0% { opacity: 0.8; }
  40% { opacity: 0.9; }
  50% { opacity: 0.8; }
  80% { opacity: 0.95; }
  100% { opacity: 1; }
}
@-webkit-keyframes stroker {
  0% { stroke: rgba(255, 255, 255, 0.1); }
  100% { stroke: rgba(255, 255, 255, 1.0); }
}
@keyframes stroker {
  0% { stroke: rgba(255, 255, 255, 0.1); }
  100% { stroke: rgba(255, 255, 255, 1.0); }
}
.destroke {
  -webkit-animation: destroke 1s;
          animation: destroke 1s;
}
@-webkit-keyframes destroke {
  0% { stroke: #ffffff; }
  100% { stroke: #000000; }
}
@keyframes destroke {
  0% { stroke: #ffffff; }
  100% { stroke: #000000; }
}


/*
*
* Containers
*
*/
.app {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.grid {
  /* position: relative;
  z-index: 3; */
  width: 100%;
  height: 100vh;
}
.container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.spacer {
  height: 100px;
}
.spacer--window {
  height: 100vh;
}
/* Mobile */
.mobile {
  display: none;
}
.mobile .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

/*
*
* Navigation
*
*/
nav.desktop {
  /* position: fixed; */
  top: 10px;
  left: 10px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}
nav.desktop span {
  font-size: 12vw;
  line-height: 0.8;
  font-family: var(--block-text);
    font-weight: var(--thick-weight);
}
nav.desktop img {
  width: 100vw;
}
.euro-tour--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
nav.desktop button {
  display: block;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  background: white;
  color: #000;
}
nav.desktop button:hover {
  display: block;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  background: #222;
  color: #fff;
  transition: all 0.5s;
}

/*
*
* Discography
*
*/
#discography {
  text-align: center;
}
.link-container {
  padding: 40px;
}
.link.discog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  position: relative;
  margin: 40px 0;
}
.link.discog::first-of-type {
  /* margin: 0 0 120px 0 !important; */
}
.discog a.h1 {
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  font-family: var(--block-text);
  font-weight: var(--thick-weight);
  font-style: bold;
  font-size: 18vw;
  line-height: 0.7;
  line-break: normal;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  color: inherit;
  cursor: none;
  color: rgba(100, 100, 100, 0.9);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: none;
          animation: none;
  overflow: hidden;
}
.discog a.h1:hover {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  -webkit-animation: flasherDim 0.4s infinite;
  animation: flasherDim 0.4s infinite;
}


@keyframes flasherDim {
  0% { color: rgba(255, 255, 255, 0.03); }
  40% { color: rgba(255, 255, 255, 0.01); }
  50% { color: rgba(255, 255, 255, 0.05); }
  80% { color: rgba(255, 255, 255, 0.0); }
  100% { color: rgba(255, 255, 255, 0.02); }
}

.desc {
  margin-top: 0.2rem;
  line-height: 1rem;
  font-family: var(--block-text);
  font-weight: var(--thin-weight);
  font-style: normal;
  text-align: center;
  color: rgba(100, 100, 100, 0.9);
  font-size: 80%;
}
.link img {
  display: none;
}
.image {
  width: 8vw;
}

/*
*
* Social
*
*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: rgba(100, 100, 100, 0.9);
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
       -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  position: relative;
  padding: 100px 40px;
  /* background: url('../img/white-plain.jpg');
  background-size: cover;
  background-color: #fff; */
}

.social a {
  border-radius: 90px;
  border: 1px solid #fff;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  font-family: var(--block-text);
  font-weight: var(--normal-weight);
  font-style: bold;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 0.7;
  margin: 10px 0;
  padding: 2% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social a:hover {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
}

.social span {
  font-size: 5vw;
  font-weight: var(--normal-weight);
  transition: all 0.3s;
  margin-bottom: -2.4%;
}
.social a:hover {
  background: rgba(255, 255, 255, 1);
  padding: 2% 5%;
  color: #000000;
}

/*
*
* Marquee 
*
*/
.marquee {
  display: block;
  width: 100%;
  height: auto;
  font-size: 8rem;
}

.marquee-hover {
  background-color: #fff;
  position: absolute;
  color: #000;
  display: none;
  padding: 20px;
  font-size: 2rem;
  line-height: normal;
}

.backtotop {
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 99;
}

footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
footer svg#logo {
  fill: rgba(255, 255, 255, 0.0);
  stroke-width: 1px;
  min-width: 100px;
  min-height: 100px;
  width: 100px;
  max-width: 80vh;
  max-height: 80vh;
  margin: 10px auto;
  -webkit-transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, -webkit-transform 1s;
  transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, -webkit-transform 1s;
  -o-transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, transform 1s;
  transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, transform 1s;
  transition: fill 400ms ease-in-out, stroke-width 1s ease-in-out, transform 1s, -webkit-transform 1s;
  -webkit-animation: stroker 2s forwards;
          animation: stroker 2s forwards;
}

/*
* ------------------------
* Media Queries
* ------------------------
*/
@media (max-width: 991px) {
  /* Cursor */
  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }
  html,
  html *,
  body,
  body *,
  .container * {
    cursor: inherit;
  }
  /* Nav */
  nav.desktop {
    min-height: 60vh;
  }
  .euro-tour--container {
    padding: 10px;
  }
  .link-container {
    padding: 10px;
  }
  .link.discog {
    margin: 30px 0;
  }
  /* Social */
  .social {
    padding: 30px 10px;
  }
  .social span {
    font-size: 8vw;
    font-weight: var(--normal-weight);
    transition: all 0.3s;
    margin-bottom: -2.4%;
  }
  .social a:hover {
    background: rgba(255, 255, 255, 1);
    padding: 2% 5%;
    color: #000000;
  }
  /* Loading */
  .loading svg#logo {
    max-width: 50vw;
  }
  .marquee {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 80px 0;
    margin-bottom: 100px;
  }
}

@media (max-width: 479px) {


  
}
